.App {
  text-align: center;
  padding: 10px;
}

.App-header {
  margin: auto;
  height: 80px;
  width: 100px;
  background-color: #cce6ff;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-map img{
  width:200px;
  height:250px;
}

.App-container {
  display: flex;
  min-height: 64vh;
  flex-direction: column;
  margin: 10px;   
}

.App-footer {

  padding: 11px;
  background-color: #cce6ff;
}

.language-btn{
  margin: 2px;
}
.language-btn img {
  width: 30px;
  height: 22px;
  padding: 3px;
}

.footer-images img {
  width:10%;
  height:7%;
  padding:5px;
}

.footer-images img:nth-child(1){
  width:6%;
  height:6%;
}