@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
/*font-family: 'Roboto', sans-serif;*/

.App {
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}

.App-header {
  margin: auto;
  /*background-color: #cce6ff;*/
  padding: 8px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  height: auto;
}

.App-intro {
  font-size: large;
}

.App-map {
  width: 100%;
  height: auto;
}

.App-container {
  display: flex;
  min-height: 62vh;
  flex-direction: column;
  margin: 10px;   
}

.App-footer {
  font-size: 10px;
  padding: 11px;
  display: inline-block;
}

/*language.js style start*/
.language-btn{
  border-radius: 3px;
  margin: 2px;
}

.language-btn:hover {
  border-radius: 3px;
  margin: 2px;
  background-color: #cce6ff;
}

input[type=button],button {
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  width: 80px;
  height: auto;
  background-color: #b3e6ff;
}
/*language.js style End*/

/* Forms with SingleOptionAnswer.js and MultiOptionAnswer.js styles start*/
input[type=button].nextBtn, input[type=button].prevBtn {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: auto;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

input[type=button].nextBtn {
  background-color: #b3e6ff;
  color: white;
  border: 1px solid white;
}

input[type=button].prevBtn {
  background-color: white;
  color: #b3e6ff;
  border: 1px solid #b3e6ff;
}

label {
  padding: 10px;
  margin: 15px auto;
  display: block;
  width: 220px;
  text-align: left;
  background-color: #b3e6ff;
  cursor: pointer;
}

.radioBtn {
  float: right;
}

.checkBtn {
  float: right;
}

form {
  font-family: 'Roboto', sans-serif;
  border: 2px #b3e6ff dashed;
  width: 90%;
  margin: auto;
  }

input{
  margin-bottom: 0px;
}

textarea {
  width: 210px;
  height: 60px;
}
/* Forms with SingleOptionAnswer.js and MultiOptionAnswer.js styles end*/

/* RankingAnswer.js styles start*/
input[type=button].rankQuestion {
  display: block;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  border-radius: 0%;
}
/* RankingAnswer.js styles end*/

/* PictureAnswer.js styles start*/
input[type=radio].pictureQuestion {
  display: block;
  visibility: hidden;  
}

.picAnswer {
  width: 220px;
  height: 120px;
  border:1px solid black;
}

input:checked.pictureQuestion + img {
  border:5px solid lightblue;
  box-shadow: 5px 5px 5px lightblue;
}

.picLabel {
  background-color: white;
}
/* PictureAnswer.js styles end*/


/*result.js style start*/
.progress {
  width: 200px;
  border-bottom: 10px solid lightblue;
  position: relative;
  margin: auto;
}

.complete {
  border-bottom: 10px solid blue;
  position: absolute;
}

.ansDiv {
  border: 2px solid #cce6ff;
  border-radius: 20px;
  box-shadow:2px 2px 2px #cce6ff;
  padding: 20px;
}

.personal-photo {
  width:150px;
  height:150px;
  float:left;
  padding-right:40px;
}

.photoDiv {
  padding: 20px;
  width:85%;
  position:relative;
  display: block;
  left:5%;
  background: #f9f9f9;
}

blockquote {
  position: relative;
  margin: 0;
  padding:30px;
  text-align: justify;
  font-size: 20px;
}

blockquote:before {
  color:red;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 70px;
  line-height: 1;
  top: 0;
  left: 15%;
  content: "\201C";
}

.resultBtn {
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: auto;
  background-color: lightblue;
}
/*result.js style End*/

/*Footer.js style start*/
.footer-images img {
  width:60px;
  height:45px;
  padding:5px;
  display: inline-block;
}
/*Footer.js style End*/

@media screen and (min-width: 400px) {
  .App {
    width: 50%;
    margin: auto;
  }
}
